---
import BaseHead from '../components/astro_components/BaseHead.astro';
import NavBar from '../components/astro_components/NavBar.astro';
import Subscribe from '../components/reactJSX_components/Subscribe';
import '../stylesheets/blogPostStyle.css';
import '../stylesheets/navBarStyle.css';
---

<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body>
    <NavBar />

    <section>
      <slot />
    </section>
    <Subscribe />
  </body>
</html>
